{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
    <h3>Forgot your password?</h3>
    <div class="action-form">
        <form method="post" action="{% url 'accounts_forgot_password' %}">
            {% csrf_token %}
            <ul>
                {% if success %}
                <li class="success-message-box">
                    {{ success|safe }}
                </li>
                {% else %}
                {% if error %}
                <li class="error-message-box">
                    {{ error|safe }}
                </li>
                {% endif %}
                <li>
                    <input id="id_email" name="email" type="text" value="{{ email }}" placeholder="Email..."/>
                </li>
                <li>
                    <input type="submit" value="Send password reset link">
                </li>
                <li class="link">
                    <a href="{% url 'accounts_login' %}">Login</a> | <a href="{% url 'accounts_register' %}" title="Register to shop faster and better!">Register</a>
                </li>
                {% endif %}
            </ul>
        </form>
</div>
{% endblock %}