{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
    <h3>Password Reset</h3>
    <div class="action-form">
        <form method="post" action="{% url 'accounts_password_reset' user_id reset_code %}">
            {% csrf_token %}
            <ul>
                {% if success %}
                <li class="success-message-box">
                    {{ success|safe }}
                </li>
                {% else %}
                {% if error %}
                <li class="error-message-box">
                    {{ error|safe }}
                </li>
                {% endif %}
                {% if form.errors %}
                <li class="error-message-box">
                    Please correct following errors.
                </li>
                {% endif %}
                <li>
                    {{ form.password }}
                    {{ form.password.errors }}
                </li>
                <li>
                    {{ form.confirm_password }}
                    {{ form.confirm_password.errors }}
                </li>
                <li>
                    <input type="submit" value="Reset password">
                </li>
                {% endif %}
            </ul>
        </form>
</div>
{% endblock %}