{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
<div class="action-form register">
	<form method="post" action="{% url 'accounts_register' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next_url }}"/>
		{% if success %}
		<div class="success-message">
			{{ success|safe }}
		</div>
		{% else %}
		<h3>Login details</h3>
		<ul>
			<li>
				{{ form.username }}
				{{ form.username.errors }}
			</li>
			<li>
				{{ form.password }}
				{{ form.password.errors }}
			</li>
			<li>
				{{ form.confirm_password }}
				{{ form.confirm_password.errors }}
			</li>
		</ul>
		<h3>Peronsal details</h3>
		<ul>
			<li>
				{{ form.email }}
				{{ form.email.errors }}
			</li>
			<li>
				{{ form.first_name }}
				{{ form.first_name.errors }}
			</li>
			<li>
				{{ form.last_name }}
				{{ form.last_name.errors }}
			</li>
			<li class="gender">
				{{ form.gender }}
				{{ form.gender.errors }}
			</li>
			<li>
				<input type="submit" value="Register"/>
			</li>
		</ul>
		{% endif %}
	</form>
</div>
{% endblock %}
