include README.md
include LICENSE
include MANIFEST.in
recursive-include doorsale/bin *
recursive-include doorsale/fixtures *
recursive-include doorsale/static *
recursive-include doorsale/templates *
recursive-include doorsale/sales/static *
recursive-include doorsale/sales/templates *
recursive-include doorsale/catalog/static *
recursive-include doorsale/catalog/templates *
recursive-include doorsale/accounts/templates *
recursive-include doorsale/payments/templates *
recursive-include doorsale/conf/project_settings *
recursive-include doorsale/pages/static *
recursive-include doorsale/pages/templates *
recursive-exclude * .DS_Store
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
