{% extends "doorstep/skeleton.html" %}

{% load staticfiles %}
{% load pipeline %}
{% load pages_tags %}
{% load cache %}

{% block head %}
{{ block.super }}
<meta name="application-name" content="{{ SITE_NAME }}"/>
<meta name="copyright" content="{{ COPYRIGHT }}"/>
<meta name="description" content="{{ page_description|default:SITE_DESCRIPTION }}"/>
{% block og_meta %}
<meta property="og:site_name" content="{{ SITE_NAME }}"/>
<meta property="og:title" content="{{ page_title|default:SITE_TITLE }} | {{ SITE_NAME }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{% static 'doorstep/img/icon.png' %}"/>
<meta property="og:description" content="{{ page_description|default:SITE_DESCRIPTION }}"/>
<meta name="author" content="{{ SITE_NAME }}, {{ CONTACT_EMAIL }}"/>
{% endblock %}
<title>{{ page_title|default:SITE_TITLE }} | {{ SITE_NAME }}</title>
<link rel="icon shortcut" href="{% static 'doorstep/img/icon.png' %}" type="image/png"/>

{% block styles %}
<link href="{% static 'doorstep/css/material-icons.css' %}" rel="stylesheet">
<link href="{% static 'doorstep/css/fontawesome-all.min.css' %}" rel="stylesheet">
<link href="{% static 'doorstep/css/bootstrap.min.css' %}" rel="stylesheet">
{% stylesheet style_name %}
{% endblock %}
{% endblock %}

{% block body %}
{{ block.super }}
<header>
	{% block header-content %}
	<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-start">
		<a href="{% url 'catalog_index' %}" class="navbar-brand d-none d-lg-block">{{ SITE_NAME }}</a>
		<button type="button" id="sidebar-collapse-button" class="d-lg-none btn btn-info mr-2">
				<i class="fas fa-align-left mr-1"></i>
				<span>Menu</span>
		</button>
		{% block header-menu %}
		<ul class="navbar-nav ml-auto">
			{% block header-menu-list %}
			{% if user.is_authenticated %}
			<li class="nav-item dropdown ml-1">
				<button id="user-dropdown-menu" class="btn btn-light dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-bars"></i>
						Hi! {{ user.get_username }}
					</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown-menu">
					{% if user.is_staff %}
						<a class="dropdown-item" href="/admin/">
	 						<i class="fas fa-wrench text-lightgrey mr-3"></i>Admin
	 				 	</a>
						{% endif %}
					<a class="dropdown-item" href="{% url 'accounts_change_password' %}">
						 <i class="fas fa-key text-lightgrey mr-3"></i>Change password
					 </a>
					<a class="dropdown-item" href="{% url 'accounts_logout' %}">
					   <i class="fas fa-sign-out-alt text-lightgrey mr-3"></i>Log Out
					 </a>
				</div>
			</li>
			{% else %}
			<li class="nav-item ml-2 d-none d-lg-block">
				<a class="btn btn-secondary" href="{% url 'accounts_login' %}"><i class="fas fa-lock text-lightgrey mr-2"></i>Log In</a>
			</li>
			<li class="nav-item ml-2 d-none d-lg-block">
				<a class="btn btn-primary" href="{% url 'accounts_register' %}"><i class="fas fa-user-plus text-lightgrey mr-2"></i>Sign Up</a>
			</li>
			{% endif %}
			{% endblock %}
		</ul>
		{% endblock %}
	</nav>

	<nav id="sidebar" class="bg-info text-light">
			<div id="dismiss">
					<i class="fas fa-arrow-circle-left"></i>
			</div>

			<div class="sidebar-header">
					<h3>Bootstrap Sidebar</h3>
			</div>

			<ul class="list-unstyled">
					<p>Dummy Heading</p>
					<li class="active">
							<a href="#homeSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">Home</a>
							<ul class="collapse list-unstyled" id="homeSubmenu">
									<li><a href="#">Home 1</a></li>
									<li><a href="#">Home 2</a></li>
									<li><a href="#">Home 3</a></li>
							</ul>
					</li>
					<li>
							<a href="#">About</a>
							<a href="#pageSubmenu" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">Pages</a>
							<ul class="collapse list-unstyled" id="pageSubmenu">
									<li><a href="#">Page 1</a></li>
									<li><a href="#">Page 2</a></li>
									<li><a href="#">Page 3</a></li>
							</ul>
					</li>
					<li>
							<a href="#">Portfolio</a>
					</li>
					<li>
							<a href="#">Contact</a>
					</li>
			</ul>
	</nav>

	<ul id="slide-out" class="side-nav d-none">
		{% block side-nav-content %}
		{% if user.is_authenticated %}
		<li>
			<a href="#!name">
				<span class="name">{{ user.get_username }}</span>
			</a>
		</li>
		<li class="divider"></li>
		{% endif %}
		<li>
			<a href="{% url 'catalog_index' %}"><i class="fas fa-home"></i>Home</a>
		</li>
		{% if user.is_authenticated %}
		{% if user.is_staff %}
		<li>
			<a href="/admin/">
			<i class="fas fa-wrench">account_box</i>Admin</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'accounts_change_password' %}">
			<i class="fas fa-key"></i>Change password</a>
		</li>
		<li>
			<a href="{% url 'accounts_logout' %}">
			<i class="fas fa-sign-out-alt">eject</i>Sign Out</a>
		</li>
		{% else %}
		<li>
			<a href="{% url 'accounts_login' %}">
			<i class="fas fa-sign-in-alt"></i>Sign In</a>
		</li>
		<li>
			<a href="{% url 'accounts_register' %}" title="Register to shop faster and better!">
			<i class="fas fa-user-plus"></i>Register</a>
		</li>
		{% endif %}
		{% endblock %}
	</ul>
	{% endblock %}
</header>

<main id="content" style="min-height: 50vh">
	{% block content %}
	{% endblock %}
</main>
<div class="overlay"></div>
{% block footer %}
<footer class="pt-4 my-md-5 pt-md-5 border-top container">
	{% block footer-content %}
	{% cache cache_timeout page-links %}
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="{% static 'doorstep/img/icon.png' %}" alt="" width="24" height="24">
      <small class="d-block mb-3 text-muted">{{ COPYRIGHT|safe }}</small>
    </div>
		{% get_pages_links %}
		<div class="col-sm-12 text-muted small text-right">
      Powered by <a href="https://github.com/mysteryjeans/doorstep"><span class="text-dark">Doorstep</span></a>
    </div>
  </div>
	{% endcache %}
	{% endblock %}
</footer>
{% endblock %}
{% block scripts %}
<script src="{% static 'doorstep/scripts/jquery.min.js' %}"></script>
<script src="{% static 'doorstep/scripts/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'doorstep/scripts/base.js' %}"></script>
{% javascript 'jquery_ajax' %}
<script type="text/javascript">
		$(document).ready(function () {
				$('#dismiss, .overlay').on('click', function () {
						$('#sidebar').removeClass('active');
						$('.overlay').fadeOut();
				});

				$('#sidebar-collapse-button').on('click', function () {
						$('#sidebar').addClass('active');
						$('.overlay').fadeIn();
						$('.collapse.in').toggleClass('in');
						$('a[aria-expanded=true]').attr('aria-expanded', 'false');
				});
		});
</script>
{% endblock %}
{% endblock %}
