{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block head %}
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		{% block robots_meta %}
		<meta name="robots" content="noodp,noydir" />
		{% endblock %}
		<link rel="icon" href="{% static 'doorstep/img/doorstep-icon-64x64.png' %}" type="image/png" />
		{% endblock %}
		{% include "doorstep/includes/head.html" %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
		{% include "doorstep/includes/body.html" %}
	</body>
</html>
