{% extends base_template_name %}

{% load cart %}
{% load pipeline %}
{% load cache %}

{% block header-menu %}
{{ block.super }}
<div class="right">
	<ul>
		<li><a><i class="material-icons">shopping_cart</i></a></li>
		<li>
			<a class="dropdown-button" data-activates="currency-dropdown" data-constrainwidth="false" data-alignment="right" data-beloworigin="true">
				{{ default_currency.code }}
				<i class="material-icons right">arrow_drop_down</i>
			</a>
			<div id="currency-dropdown" class="dropdown-content">
				<form method="post" action="{% url 'catalog_change_currency' %}">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.get_full_path }}" />
						<input id="default_currency" type="hidden" name="default_currency"/>
						<ul>
							{% for currency in currencies %}
							<li>
								<a onclick="javascript:$('#default_currency').val('{{ currency.code }}').closest('form').submit();">{{ currency.code }}</a>
							</li>
							{% endfor %}
						</ul>
				</form>
			</div>
		</li>
	</ul>
</div>
{% include "catalog/parts/search_box.html" %}
{% endblock %}

{% block nav-extended %}
{{ block.super }}
<ul class="nav-wrapper hide-on-med-and-down categories">
	{% with template_name="catalog/parts/category_nav.html" %}
	{% for category in categories %}
	{% if category.sub_categories_list %}
	<li>
		<a class="dropdown-button left" data-activates="category-dropdown-{{ category.id }}" data-constrainwidth="false" data-alignment="left" data-beloworigin="true">
			{{ category.name }}
			<i class="material-icons right">arrow_drop_down</i>
		</a>
		<div id="category-dropdown-{{ category.id }}" class="dropdown-content">
			<div class="row">
				{% for category in category.sub_categories_list %}
				{% include template_name %}
				{% endfor %}
			</div>
		</div>
	</li>
	{% else %}
	<li>
		<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
	</li>
	{% endif %}
	{% endfor %}
	{% endwith %}
	<li>
		<a class="dropdown-button left" data-activates="manufacturers-dropdown" data-constrainwidth="false" data-alignment="left" data-beloworigin="true">
			Products
			<i class="material-icons right">arrow_drop_down</i>
		</a>
		<div id="manufacturers-dropdown" class="dropdown-content row">
			{% for manufacturer in manufacturers %}
			<div class="col s2">
				<a href="{{ manufacturer.get_absolute_url }}" class="black-text">{{ manufacturer.name }}</a>
			</div>
			{% endfor %}
		</div>
	</li>
</ul>
{% endblock %}

{% block side-nav-content %}
{{ block.super }}
<li class="divider"></li>
<li><a class="subheader">Categories</a></li>
{% with template_name="catalog/parts/category_list.html" %}
{% for category in categories %}
{% include template_name %}
{% empty %}
<li class="info-message-box no-categories-msg">
	There are no categories defined.
</li>
{% endfor %}
{% endwith %}
<li class="divider"></li>
<li><a class="subheader">Products</a></li>
{% for manufacturer in manufacturers %}
<li>
	<a href="{{ manufacturer.get_absolute_url }}">{{ manufacturer.name }}</a>
</li>
{% endfor %}
{% endblock %}

{% block content %}
<div id="catalog-content-container">
	<div id="catalog-bar">
		{% if breadcrumbs %}
		<ul class="breadcrumbs">
			{% for crumb in breadcrumbs %}
			{% if forloop.last %}
			<li>
				{% if crumb.name == 'Home' %}
				<i class="fa fa-home" style="font-size: 1.2em"></i>
				{% else %}
				<span>{{ crumb.name }}</span>
				{% endif %}
			</li>
			{% elif crumb.name == 'Home' %}
			<li>
				<a href="{{ crumb.url }}" title="Go to {{ crumb.name }}" ><i class="fa fa-home" style="font-size: 1.2em; text-decoration: none;"></i></a>
			</li>
			{% else %}
			<li>
				<a href="{{ crumb.url }}" title="Go to {{ crumb.name }}" >{{ crumb.name }}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
		<div class="cart-basket">
			<div id="basket-container" onclick="javascript:$('.basket-items', this).fadeIn('fast');">
				{% cart_basket %}
			</div>
			<br/>
		</div>
	</div>
	<div id="catalog-content">
		{% block catalog-content %}
		{% endblock %}
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% javascript 'catalog_base' %}
{% endblock %}
