<div class="address">
	<h3><i class="fa {{ address_icon }}"></i> {{ address_name }}</h3>
	<ul>
		<li class="name">
			{{ address.first_name }} {{address.last_name }}
		</li>
		<li>
			{{ address.address1 }}
		</li>
		{% if address.address2 %}
		<li>
			{{ address.address2 }}
		</li>
		{% endif %}
		<li>
			{{ address.zip_or_postal_code }}, {{ address.city }}, {{ address.country }}
		</li>
		<li>
			<label>{{ address.phone_number }}</label>
		</li>
		<li>
			<label>{{ address.email }}</label>
		</li>
	</ul>
</div>