{% if category.sub_categories_list %}
<li class="parent-category-container">
	<a id="parent-category-id-{{ category.id }}" class="parent-category {% if category.is_expended %}arrow-down{% endif %}">{{ category.name }}</a>
	{% if category.sub_categories_list %}
	<ul class="sub-categories" parent-category="#parent-category-id-{{ category.id }}" {% if category.is_expended %}style="display: block;"{% endif %}>
		<li><a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}">all...</a></li>
		{% for category in category.sub_categories_list %}
		{% include template_name %}
		{% endfor %}
	</ul>
	{% endif %}
</li>
{% else %}
<li>
	<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
</li>
{% endif %}
