{% load catalog_filters %}
{% load thumbnail %}

<div class="products-list">
	<ul>
		{% for product in products %}
		<li class="product">
			{% with pic=product.pics.all.0 %}
			<a href="{{ product.get_absolute_url }}">
				<div class="pic-container">
					{% thumbnail pic.url 128x128 as thumb %}
					<img src="{{ thumb.url }}" alt="{{ product.name }}"/>
				</div>
				<div class="title">
					{{ product.name }}
				</div>
			</a>
			{% endwith %}
			{% if product.gist %}
			<div class="description">
				{{ product.gist }}
			</div>
			{% endif %}
			<div class="price">
				{{ product.price|currency:default_currency }}
				{% if product.old_price %}
				<span class="old-price"> {{ product.old_price|currency:default_currency }}</span>
				<span class="discount"> {{ product.get_discount }}% OFF</span>
				{% endif %}
			</div>
		</li>
		{% empty %}
		<li>
			<p class="info-message-box">
				{{ no_products_message|default:"There are no products to show you right now." }}
			</p>
		</li>
		{% endfor %}
	</ul>
</div>
{% if products.object_list %}
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="{{ products.previous_url }}" rel="prev"><i class="fa fa-angle-left"></i> previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>
        {% if products.has_next %}
            <a href="{{ products.next_url }}" rel="next">next <i class="fa fa-angle-right"></i></a>
        {% endif %}
    </span>
</div>
{% endif %}