{% if category.sub_categories_list %}
<div class="col s3">
	<div class="row">
		<div class="col s12">
			<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}" class="black-text">{{ category.name }}</a>
		</div>
		<div class="col s12">
			<div class="divider"></div>
		</div>
		{% for category in category.sub_categories_list %}
		<div class="col s12">
			<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}" class="black-text">{{ category.name }}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% else %}
<div class="col s3">
	<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}" class="black-text">{{ category.name }}</a>
</div>
{% endif %}
