{% if category.sub_categories_list %}
<li>
	<ul class="collapsible collapsible-accordion">
		<li>
			<a id="parent-category-id-{{ category.id }}" class="collapsible-header">{{ category.name }}<i class="material-icons right">arrow_drop_down</i></a>
			<div class="collapsible-body">
				<ul>
					{% for category in category.sub_categories_list %}
					{% include template_name %}
					{% endfor %}
				</ul>
			</div>
		</li>
	</ul>
</li>
<li class="divider"></li>
{% else %}
<li>
	<a id="category-id-{{ category.id }}" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
</li>
{% endif %}