{% load catalog_filters %}
{% load thumbnail %}


<div class="row equal-height product-listings">
	{% for product in products %}
	<div class="col-sm-12 col-md-4 col-lg-3 mb-5">
		<div class="card border-0">
			{% if product.old_price %}
			<span class="badge badge-warning" style="position: absolute;z-index:100;">{{ product.get_discount }}% OFF</span>
			{% endif %}
			{% with pic=product.pics.all.0 %}
			{% thumbnail pic.url "400x400" as im %}
			<a href="{{ product.get_absolute_url }}">
				<img class="card-img-top img-fluid" src="{{ im.url }}" alt="{{ product.name }}"/>
			</a>
			{% endthumbnail %}
			{% endwith %}
		  <div class="card-body px-3">
		    <a class="card-title mb-1 font-weight-bold text-dark" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
				{% if product.gist %}
		    <p class="card-text text-muted text-truncate small">{{ product.gist }}</p>
				{% endif %}
		  </div>
		  <div class="card-body d-flex justify-content-end px-2 py-2">
					<form class="mr-auto mt-auto add-to-cart-form" method="post" action="{% url 'sales_add_to_cart' %}" data-ajax="true" data-ajax-update="#basket-container" data-ajax-complete="basketChanged();">
						{% csrf_token %}
						<input name="product_id" type="hidden" value="{{ product.id }}"/>
						<input name="quantity" type="hidden" value="1"/>
						<a href="#" class="text-warning pl-1 pb-0 ml-0" style="font-size:1.2rem" onclick="javascript:$(this).closest('form').submit(); return false;"><i class="fas fa-cart-plus"></i></a>
					</form>
					{% if product.old_price %}
					<span class="text-lightgrey mt-auto small"><del>{{ product.old_price|currency:default_currency }}</del></span>
					{% endif %}
					<span class="text-dark mt-auto ml-2 font-weight-bold">{{ product.price|currency:default_currency }}</span>
		  </div>
		</div>
		</div>
		{% empty %}
		<div class="col-sm-12">
			<p class="text-info">
				{{ no_products_message|default:"There are no products to show you right now." }}
			</p>
		</div>
	{% endfor %}
</div>

{% if products.object_list %}
<nav>
	<ul class="pagination">
		{% if products.has_previous %}
		<li class="page-item"><a class="page-link" href="{{ products.previous_url }}"><i class="fas fa-chevron-left"></i></a></li>
		{% else %}
		<li class="page-item disabled"><a class="page-link"><i class="fas fa-chevron-left"></i></a></li>
		{% endif %}
		{% for page_url in products.page_urls %}
		{% if  page_url.0 == products.number %}
		<li class="page-item active"><a class="page-link" href="{{ page_url.1 }}">{{ page_url.0 }}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="{{ page_url.1 }}">{{ page_url.0 }}</a></li>
		{% endif %}
		{% endfor %}
		{% if products.has_next %}
		<li class="page-item"><a class="page-link" href="{{ products.next_url }}"><i class="fas fa-chevron-right"></i></a></li>
		{% else %}
		<li class="page-item disabled"><a class="page-link"><i class="fas fa-chevron-right"></i></a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
