{% load catalog_filters %}
{% load thumbnail %}

<div>
	<div class="row">
		{% for product in products %}
		<div class="col s12 m6 l4 xl3">
			<div class="card medium">
				<div class="card-image">
					{% if product.old_price %}
					<span class="new badge yellow darken-2" data-badge-caption="" style="position: absolute;z-index:100;">{{ product.get_discount }}% OFF</span>
					{% endif %}
					{% with pic=product.pics.all.0 %}
					{% thumbnail pic.url "400x400" as im %}
					<img class="activator" src="{{ im.url }}" alt="{{ product.name }}"/>
					{% endthumbnail %}
					{% endwith %}
				</div>
				{% if product.gist %}
				<div class="card-content">
					<span class="activator grey-text text-darken-4"><i class="fas fa-ellipsis-v right"></i><small>{{ product.gist }}</small></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4 "><i class="fas fa-times right"></i><small>{{ product.name }}</small></span>
					<p><small>{{ product.gist }}</small></p>
				</div>
				{% endif %}
				<form id="add-to-cart-form" method="post" action="{% url 'sales_add_to_cart' %}" data-ajax="true" data-ajax-update="#basket-container" data-ajax-success="basketChanged();Materialize.toast('Added to cart', 2000)" data-ajax-complete="add_to_cart">
					{% csrf_token %}
					<input name="product_id" type="hidden" value="{{ product.id }}"/>
					<input name="quantity" type="hidden" value="1"/>
					<button class="btn-floating halfway-fab waves-effect waves-light blue overflow-hidden"><i class="fas fa-cart-plus"></i></button>
				</form>
				<div class="card-action">
					<span class="new badge red" data-badge-caption="">{{ product.price|currency:default_currency }}</span>
					{% if product.old_price %}
					<span class="new badge grey old-price" data-badge-caption=""> {{ product.old_price|currency:default_currency }}</span>
					{% endif %}
					<a class="truncate" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
				</div>
			</div>
		</div>
		{% empty %}
		<div class="col s4 m6">
			<p>
				{{ no_products_message|default:"There are no products to show you right now." }}
			</p>
		</div>
		{% endfor %}
	</div>
</div>
{% if products.object_list %}
<ul class="pagination">
	{% if products.has_previous %}
	<li class="waves-effect" ><a href="{{ products.previous_url }}"><i class="fas fa-chevron-left"></i></a></li>
	{% else %}
	<li class="disabled" ><a><i class="fas fa-chevron-left"></i></a></li>
	{% endif %}
	{% for page_url in products.page_urls %}
	{% if  page_url.0 == products.number %}
	<li class="active"><a href="{{ page_url.1 }}">{{ page_url.0 }}</a></li>
	{% else %}
	<li class="waves-effect"><a href="{{ page_url.1 }}">{{ page_url.0 }}</a></li>
	{% endif %}
	{% endfor %}
	{% if products.has_next %}
	<li class="waves-effect"><a href="{{ products.next_url }}"><i class="fas fa-chevron-right"></i></a></li>
	{% else %}
	<li class="disabled"><a><i class="fas fa-chevron-right"></i></a></li>
	{% endif %}
</ul>
{% endif %}
