@import url('../../../../common/static/common/css/base.less');

@price-color: #b50b0b;
@catalog-bar-color: whitesmoke;

#catalog-bar {
  .border;
  background: @catalog-bar-color;
  height: 40px;
}

#categories-sidebar {
  border-right: 1px solid @border-color;
  float: left;
  width: 18%;
  min-height: 400px;
  
  a {
    color: @text-color;
  }
  
  a:hover {
    color: @first-color;
  }
  
  ul {
    margin-top: 5px;
    
    li {
      a {
        display: block;
        padding: 5px 15px;
       
      }
      
      .sub-categories {
        clear: both;
        display: none;
        
        li {
          padding-left: 15px;
        }
      }
      
      .parent-category {
     
      }

      .parent-category:after {
        content: attr(arrow);
        float: right;
        color: @border-dark-color;
      }
      
      .parent-category:hover:after {
        color: @text-color;
      }
    }
  }
}

#catalog-content {
  overflow: hidden;
  padding: 10px;
  
  h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @border-color;
  }
  
  .breadcrumbs {
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px dotted @border-color;
    
    li {
      float: left;
    }
    
    li:after {
      content: '/';
      margin-right: 5px;
    }
    
    li:last-child:after {
      content: '';
    }
  }
  
  .products-list {
    clear: both;
    
    .product {
      float: left;
      width: 200px;
      height: 220px;
      padding: 5px;
      text-align: center;
      margin-bottom: 20px;
      
      .title {
        max-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      .pic-container {
        height: 128px;
        width: 128px;
        margin: auto;
        
        img {
          max-height: 128px;
          max-width: 128px;
        }
      }
      
      div {
        padding: 5px 10px;
      }
      
      .price {
        color: @price-color;
        font-size: 1.1em;
        
        .old-price {
          color: @text-color;
          font-size: 0.8em;
          text-decoration: line-through;
        }
      }
    }
  }
}
