@import url('style.less');

header {
  padding: 10px;
  
  h1 {
    float: left; 
  }
  
  #menu {
    float: right;
    
    li {
      float: left;
      padding: 5px;
    }
  }
}

#content {
  clear: both;
  padding-top: 5px;
}

