{% load catalog_filters %}

{% with items=cart.get_items sub_total=cart.get_sub_total items_count=cart.get_items_count %}
<div class="basket">
	<div class="basket-cap">
		<div class="cart-count">
			{% if items_count %}
			<span class="basket-items-count">{{ items_count  }}</span>
			{% endif %}
			<i class="fa fa-shopping-cart"></i>
		</div>
		<span class="price">{{ sub_total|currency:default_currency }}</span>
	</div>
	<div class="basket-items" context-menu='#basket-container'>
		<span class="arrow"></span>
		{% if items %}
		<ul>
			{% for item in items %}
			<li class="cart-item">
				<img src="{{ MEDIA_URL }}{{ item.product.pics.all.0.url }}" />
				<form method="post" class="cart-item-remove" data-ajax="true" data-ajax-url="{% url 'sales_remove_from_cart' %}" data-ajax-update="#basket-container" data-ajax-success="basketChanged();">
					{% csrf_token %}
					<input name="product_id" type="hidden" value="{{ item.product_id }}"/>
					<a onclick="javascript:$(this).closest('form').submit();"><i class="fa fa-trash-o"></i></a>
				</form>
				<a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
				<p>
					<span class="price">{{ item.product.price|currency:default_currency }}</span>
					<br />
					<span class="quantity">Qty: {{ item.quantity }}</span>
				</p>
			</li>
			{% endfor %}
		</ul>
		<div class="sub-total">
			<p>
				<label>Sub-Total:</label> <span class="price">{{ sub_total|currency:default_currency }}</span>
			</p>
			<button>Checkout</button>
		</div>
		{% else %}
		<div class="no-items" >
			You have no items in your shopping cart.
		</div>
		{% endif %}
	</div>
</div>
{% endwith %}
