{% extends "sales/checkout_base.html" %}

{% load catalog_filters %}

{% block checkout-content %}
<h3>Shopping Cart</h3>
{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% elif message %}
<div class="success-message">
    {{ message }}
</div>
{% endif %}
<div class="cart">
    {% with items=cart.get_items %}
    {% if items %}
    <ul class="cart-items">
        {% for item in items %}
        {% with product=item.product %}
        <li class="cart-item">
                <div class="item-preview">
                    <img src="{{ MEDIA_URL }}{{ product.pics.all.0.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
                </div>
                <div class="cart-item-right">
                    <form method="post" action="{% url 'sales_remove_from_cart' %}" class="cart-item-remove">
                        {% csrf_token %}
                        <input name="product_id" type="hidden" value="{{ item.product_id }}"/>
                        <a onclick="javascript:$(this).closest('form').submit();" title="Remove this item from the cart"><i class="fa fa-trash-o"></i></a>
                    </form>  
                    
                </div>
                <a class="item-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <div class="item-description">{{ product.gist }}</div>
                <div class="prices-total">
                    <form method="post" action="{% url 'sales_checkout_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <div>
                            <label>Price:</label>
                            <span class="price">{{ product.price|currency:default_currency }}</span>
                        </div>
                        <div>
                            <label>Quantity:</label>
                            <input name="quantity" type="text" class="quantity" value="{{ item.quantity }}" onchange="javascript:$(this).closest('form').submit();"/>
                        </div>
                        <div>
                            <label>Sub-Total:</label>
                            <span class="total price">{{ item.get_sub_total|currency:default_currency }}</span>
                        </div>
                    </form>
                </div>
            </li>
        {% endwith %}
        {% endfor %}
    </ul>
    <div class="cart-summary">
        <div class="cart-total">
            <table>
                <tr>
                    <td><label>Sub-Total:</label></td>
                    <td><span class="price">{{ cart.get_sub_total|currency:default_currency }}</span></td>
                </tr>
                <tr>
                    <td><label>Shipping:</label></td>
                    <td><span class="price">{{ cart.get_shipping_cost|currency:default_currency }}</span></td>
                </tr>
                <tr>
                    <td><label>Tax:</label></td>
                    <td><span class="price">{{ cart.get_taxes|currency:default_currency }}</span></td>
                </tr>
                <tr>
                    <td><label>Total:</label></td>
                    <td><span class="price total">{{ cart.get_total|currency:default_currency }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="cart-options">
        <form method="post" action="{% url 'sales_remove_all_from_cart' %}" class="remove-all">
            {% csrf_token %}
            <a href="#" onclick="javascript:$(this).closest('form').submit(); return false;" title="Remove all items from the cart">Remove all
            </a>
        </form>
        <a class="button" href="{% url 'catalog_index' %}" title="Go back to browse catalog">Continue Shopping</a>
        <a href="{% url 'sales_checkout_billing' %}" title="Proceed place order" class="button checkout">
            <i class="fa fa-shopping-cart"></i>Checkout
        </a>
    </div>
    {% else %}
    <div class="no-items" >
        You have no items in your shopping cart.
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}