{% extends "sales/checkout_base.html" %}

{% load catalog_filters %}

{% block checkout-content %}
<div class="order">
	{% if error %}
	<div class="error-message">
		{{ error }}
	</div>
	{% endif %}
	<div class="addresses">
		{% with address=billing_address address_name="Billing Address" %}
		{% include "sales/parts/address.html" %}
		{% endwith %}
		{% with address=shipping_address address_name="Shipping Address" %}
		{% include "sales/parts/address.html" %}
		{% endwith %}	
	</div>
	<div class="payment-method">
		<h3>Payment Method</h3>
		<b>{{ payment_method }}</b>
	</div>
	<div class="cart">
		{% with items=cart.get_items %}
		{% if items %}
		<table class="cart-items">
			<thead>
				<th>Product{{ items|pluralize }}</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Sub-Total</th>
			</thead>
			<tbody>
				{% for item in items %}
				{% with product=item.product %}
				<tr class="cart-item">
					<td>
					<div class="item-preview">
						<img src="{{ MEDIA_URL }}{{ product.pics.all.0.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
					</div><a class="item-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
					<td><span class="price"> {{ product.price|currency:default_currency }}
						{% if product.old_price %}
						<br/>
						<span class="old-price">{{ product.price|currency:default_currency }}</span>
						<br/>
						<span class="discount">{{ product.get_discount }}% OFF</span> {% endif %} </span></td>
					<td><span>{{ item.quantity }}</span> {% if product.quantity %}
					<br/>
					<span class="in-stock">In Stock</span> {% endif %} </td>
					<td><span class="total price">{{ item.get_sub_total|currency:default_currency }}</span></td>
				</tr>
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>
		<div class="cart-summary">
			<div class="cart-total">
				<table>
					<tr>
						<td><label>Sub-Total:</label></td>
						<td><span class="price">{{ cart.get_sub_total|currency:default_currency }}</span></td>
					</tr>
					<tr>
						<td><label>Shipping:</label></td>
						<td><span class="price">{{ cart.get_shipping_cost|currency:default_currency }}</span></td>
					</tr>
					<tr>
						<td><label>Tax:</label></td>
						<td><span class="price">{{ cart.get_taxes|currency:default_currency }}</span></td>
					</tr>
					<tr>
						<td><label>Total:</label></td>
						<td><span class="price total">{{ cart.get_total|currency:default_currency }}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cart-options">
			<a class="button" href="{% url 'catalog_index' %}" title="Go back to browse catalog">Continue Shopping</a>
			<form method="post" action="{% url 'sales_checkout_order' %}">
				{% csrf_token %}
				<a title="Placed order" class="button checkout" onclick="javascript:$(this).closest('form').submit();">
					<i class="fa fa-shopping-cart"></i>Confirm
				</a>
			</form>
		</div>
		{% else %}
		<div class="no-items" >
			You have no items in your shopping cart.
		</div>
		{% endif %}
		{% endwith %}
	</div>
</div>
{% endblock %}
