{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
<div class="row no-gutters">
	<div class="card bg-light col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="card-header">Change your password</div>
		{% if success %}
		<div class="card-body">
			<p class="text-success">{{ success|safe }}</p>
		</div>
		{% else %}
		<form method="post" action="{% url 'accounts_change_password' %}">
			{% csrf_token %}
			<div class="card-body">
				{% if error %}
				<p class="text-danger">
					{{ error|safe }}
				</p>
				{% endif %}
				<div class="form-group">
					<input id="{{ form.current_password.id_for_label }}" name="{{ form.current_password.name }}" type="password" class="form-control {% if form.current_password.errors %}is-invalid{% endif %}" placeholder="Current password" required="" />
					{% if form.current_password.errors %}
					<div class="invalid-feedback">
						{{ form.current_password.errors|first|safe }}
					</div>
					{% endif %}
				</div>
				<div class="form-row">
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="New password" required="" />
						{% if form.password.errors %}
						<div class="invalid-feedback">
							{{ form.password.errors|first|safe }}
						</div>
						{% endif %}
					</div>
					<div class="col-sm-12 col-md-6 form-group">
						<input id="{{ form.confirm_password.id_for_label }}" name="{{ form.confirm_password.name }}" type="password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" placeholder="Confirm password" required="" />
						{% if form.confirm_password.errors %}
						<div class="invalid-feedback">
							{{ form.confirm_password.errors|first|safe }}
						</div>
						{% endif %}
					</div>
			  </div>
				<div class="text-right">
					<button class="btn btn-primary"><i class="fas fa-loc mr-2"></i>Change password</button>
				</div>
			</div>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
	$(document).ready(function() {
		{% if form.current_password.errors %}
		$('#{{ form.current_password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.password.errors %}
		$('#{{ form.password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.confirm_password.errors %}
		$('#{{ form.confirm_password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
	});
</script>
{% endblock %}
