{% extends "catalog/catalog_base.html" %} {% block catalog-content %}
<div class="row no-gutters">
	<div class="card bg-light col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="card-header">Forgot your password?</div>
		{% if success %}
		<div class="card-body">
			<p class="text-success">{{ success|safe }}</p>
		</div>
		{% else %}
		<form method="post" action="{% url 'accounts_forgot_password' %}">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next_url }}" />
			<div class="card-body">
				<div class="form-group">
					<input id="id_email" name="email" type="email" value="{{ email }}" class="form-control {% if error %}is-invalid{% endif %}" placeholder="Email" required="" />
					{% if error %}
					<div class="invalid-feedback">
						{{ error|safe }}
					</div>
					{% endif %}
				</div>
				<div>
					<a href="{% url 'accounts_login' %}" class="card-link" data-toggle="tooltip" data-tooltip="Log In to our shop and explore quickly">Log In</a>
					<a href="{% url 'accounts_register' %}" class="card-link" data-toggle="tooltip" data-tooltip="Sign Up to our shop faster and better!">Sign Up</a>
					<div class="text-right"><button class="btn btn-primary"><i class="fas fa-link mr-2"></i>Request password reset</button>
					</div>
				</div>
			</div>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
