{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
<div class="container row">
	<div class="col s12 m8 offset-m2 l8 offset-l2">
		<div class="card grey lighten-5">
			{% if success %}
			<div class="card-content">
				<div class="card-title">Forgot your password?</div>
				<div class="row">
					<div class="col s12 green-text lighten-3">
						{{ success|safe }}
					</div>
				</div>
			</div>
			{% else %}
			<form method="post" action="{% url 'accounts_forgot_password' %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next_url }}" />
				<div class="card-content">
					<div class="card-title">Forgot your password?</div>
					{% if error %}
					<div class="row">
						<div class="col s12 red-text lighten-3">
							 {{ error|safe }}
						</div>
					</div>
					{% endif %}
          <div class="row">
						<div class="input-field col s12">
							<input id="id_email" name="email" type="email" value="{{ email }}" class="validate" required=""/>
							<label for="id_email" data-error="Please enter your email address">Email</label>
						</div>
          </div>
				</div>
				<div class="card-action">
          <a href="{% url 'accounts_login' %}" class="tooltipped" data-tooltip="Sign In to our shop and explore quickly">Sign In</a>
					<div class="hide-on-med-and-up"></div>
					<a href="{% url 'accounts_register' %}" class="tooltipped" data-tooltip="Register to our shop faster and better!">Register</a>
					<div class="right-align"><button class="btn"><i class="fas fa-link left"></i>Request password reset</button></div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
