{% extends "catalog/catalog_base.html" %}

{% block catalog-content %}
<div class="container row">
	<div class="col s12 m8 offset-m2 l8 offset-l2">
		<div class="card grey lighten-5">
			{% if success %}
			<div class="card-content">
				<div class="card-title">Reset your password.</div>
				<div class="row">
					<div class="col s12 green-text lighten-3">
						{{ success|safe }}
					</div>
				</div>
			</div>
			{% else %}
			<form method="post" action="{% url 'accounts_password_reset' user_id reset_code %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next_url }}" />
				<div class="card-content">
					<div class="card-title">Reset your password.</div>
					{% if error %}
					<div class="row">
						<div class="col s12 red-text lighten-3">
							 {{ error|safe }}
						</div>
					</div>
					{% endif %}
          <div class="row">
            <div class="input-field col s12">
							{{ form.password }}
							<label for="{{ form.password.id_for_label }}" data-error="{{ form.password.errors|first|default:'Please enter your new password' }}">New password</label>
						</div>
          </div>
					<div class="row">
						<div class="input-field col s12">
							{{ form.confirm_password }}
							<label for="{{ form.confirm_password.id_for_label }}" data-error="{{ form.confirm_password.errors|first|default:'Please re-enter your new password for confirmation' }}">Confirm password</label>
						</div>
					</div>
				</div>
				<div class="card-action right-align">
					<button class="btn"><i class="fas fa-key left"></i>Save new password</button>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
	$(document).ready(function() {
		{% if form.password.errors %}
		$('#{{ form.password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.confirm_password.errors %}
		$('#{{ form.confirm_password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
	});
</script>
{% endblock %}
