{% extends "catalog/catalog_base.html" %} {% block catalog-content %}
<div class="container row">
	<div class="col s12 m8 offset-m2 l8 offset-l2">
		<div class="card grey lighten-5">
			{% if success %}
			<div class="card-content">
				<div class="card-title">Please enter your details for registration.</div>
				<div class="row">
					<div class="col s12 green-text lighten-3">
						{{ success|safe }}
					</div>
				</div>
			</div>
			{% else %}
			<form method="post" action="{% url 'accounts_register' %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next_url }}" />
				<div class="card-content">
					<div class="card-title">Please enter your details for registration.</div>
					{% if as_superuser %}
					<div class="row">
						<div class="col s12 green-text lighten-3">
							Register yourself as site administrator, you will have all permissions on this site.
						</div>
					</div>
					{% endif %}
					{% if error %}
					<div class="row">
						<div class="col s12 red-text lighten-3">
							 {{ error|safe }}
						</div>
					</div>
					{% endif %}
					<div class="row">
						<div class="input-field col s12 xl6">
							{{ form.first_name }}
							<label for="{{ form.first_name.id_for_label }}" data-error="{{ form.first_name.errors|first|default:'Please enter your first name' }}">First name</label>
						</div>
						<div class="input-field col s12 xl6">
							{{ form.last_name }}
							<label for="{{ form.last_name.id_for_label }}" data-error="{{ form.last_name.errors|first|default:'Please enter your last name' }}">Last name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							{{ form.email }}
							<label for="{{ form.email.id_for_label }}" data-error="{{ form.email.errors|first|default:'Please enter your email address' }}">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							{{ form.username }}
							<label for="{{ form.username.id_for_label }}" data-error="{{ form.username.errors|first|default:'Please choose a username' }}">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 xl6">
							{{ form.password }}
							<label for="{{ form.password.id_for_label }}" data-error="{{ form.password.errors|first|default:'Please enter your new password' }}">Password</label>
						</div>
						<div class="input-field col s12 xl6">
							{{ form.confirm_password }}
							<label for="{{ form.confirm_password.id_for_label }}" data-error="{{ form.confirm_password.errors|first|default:'Please re-enter your new password for confirmation' }}">Confirm password</label>
						</div>
					</div>
					<div class="row">
						{% for choice in form.gender.field.choices %}
						<div class="col s3">
							<input name="{{ form.gender.name }}" type="radio" id="{{ form.gender.id_for_label}}_{{ choice.0 }}" required="" value="{{ choice.0 }}" {% if choice.0 == form.gender.data %}checked="checked" {% endif %}/>
							<label for="{{ form.gender.id_for_label}}_{{ choice.0 }}" data-error="Please specify your gender">{{ choice.1 }}</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="card-action right-align">
					<button class="btn"><i class="fas fa-user-plus left"></i>Register</button>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
	$(document).ready(function() {
		{% if form.first_name.errors %}
		$('#{{ form.first_name.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.last_name.errors %}
		$('#{{ form.last_name.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.email.errors %}
		$('#{{ form.email.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.username.errors %}
		$('#{{ form.username.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.password.errors %}
		$('#{{ form.password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
		{% if form.confirm_password.errors %}
		$('#{{ form.confirm_password.id_for_label }}').addClass('invalid').prop('aria-invalid', 'true');
		{% endif %}
	});
</script>
{% endblock %}
