{% load catalog_filters %}
{% load thumbnail %}

{% with items=cart.get_items sub_total=cart.get_sub_total items_count=cart.get_items_count %}
<a id="basket-dropdown-button" class="dropdown-button" data-activates="basket-dropdown" data-constrainwidth="false" data-alignment="right" data-beloworigin="true">
	<i class="fas fa-shopping-cart right"></i>
	{% if items_count %}
	<span class="new badge right" data-badge-caption="">{{ items_count }} ({{ sub_total|currency:default_currency }})</span>
	{% endif %}
</a>
<div id="basket-dropdown" class="dropdown-content">
	<ul class="collection">
		{% if items %}
		{% for item in items %}
		{% with product=item.product %}
		<li class="collection-item avatar">
			{% thumbnail product.pics.all.0.url "54x54" as im %}
			<img class="circle" src="{{ im.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
			{% endthumbnail %}
			<div>
				<a class="title" href="{{ product.get_absolute_url }}" title="{{ product.gist }}">{{ product.name }}</a>
				<div class="clearfix">
					<span class="new badge red left" data-badge-caption="">{{ product.price|currency:default_currency }}</span>
					<span class="new badge left" data-badge-caption="">Qty: {{ item.quantity }}</span>
				</div>
			</div>
			<form  class="secondary-content" method="post" data-ajax="true" data-ajax-url="{% url 'sales_remove_from_cart' %}" data-ajax-update="#basket-container" data-ajax-success="basketChanged();">
				{% csrf_token %}
				<input name="product_id" type="hidden" value="{{ item.product_id }}"/>
				<a onclick="javascript:$(this).closest('form').submit();" title="Remove this product."><i class="fas fa-trash tiny"></i></a>
			</form>
		</li>
		{% endwith %}
		{% endfor %}
		<li class="collection-item grey lighten-3">
			<div >
				<span class="new badge grey left" data-badge-caption="">Subtotal: {{ sub_total|currency:default_currency }}</span>
				<a class="btn blue btn-tiny right " href="{% url 'sales_checkout_cart' %}" class="btn"><i class="fas fa-shopping-cart left"></i>Checkout</a>
			</div>
		</li>
		{% else %}
		<li class="collection-item">
			<div class="title">
				You have no items in your shopping cart.
			</div>
		</li>
		{% endif %}
	</ul>
</div>
{% endwith %}
