{% load catalog_filters %}
{% load thumbnail %}


{% with items=cart.get_items sub_total=cart.get_sub_total items_count=cart.get_items_count %}
<div id="cart-basket" class="dropdown ml-2 d-flex">
	<a class="btn btn-outline-warning border-0 basket-counter d-sm-none" href="{% url 'sales_checkout_cart' %}">
		{% if items %}
		<span class="badge badge-danger float-left badge-pill font-weight-normal py-0 px-1">{{ items_count }}</span>
		{% endif %}
		<i class="fas fa-shopping-cart"></i>
	</a>
	<button id="cart-basket-dropdown-button" class="btn btn-outline-warning border-0 basket-counter d-none d-sm-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% if items %}
		<span class="badge badge-danger float-left badge-pill font-weight-normal py-0 px-1">{{ items_count }}</span>
		{% endif %}
		<i class="fas fa-shopping-cart"></i>
	</button>
	<div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="cart-basket-dropdown-button">
		<ul class="list-group">
			{% for item in items %}
			{% with product=item.product %}
			<li class="list-group-item d-flex flex-column">
				<div class="d-flex flex-row">
					<div class="img-container my-auto mr-4 rounded-circle">
						{% thumbnail product.pics.all.0.url "54x54" as im %}
						<img src="{{ im.url }}" alt="No Preview" title="{{ product.name }}" />
						{% endthumbnail %}
						<div class="img-overlay d-block"></div>
					</div>
					<div class="d-flex flex-column w-100">
						<div class="d-flex justify-content-between align-items-start">
							<div class="d-flex flex-column">
							<a class="list-group-item-action no-wrap text-truncate" style="max-width:300px;" href="{{ product.get_absolute_url }}">
								{{ product.name }}
							</a>
							<p class="text-muted pt-2 small text-truncate pb-2 mb-1" style="max-width:300px;">{{ product.gist }}</p>
							</div>
						</div>
						<span class="text-muted">{{ product.price|currency:default_currency }}</span>
					</div>
					<div class="d-flex flex-column justify-content-between align-items-center">
						<small class="badge badge-pill badge-secondary badge-secondary text-light" data-toggle="tooltip" data-delay='{"show":"1000"}' title="You have {{ item.quantity }} of this product{{ item.quantity|pluralize }} in your cart">{{ item.quantity }}</small>
						<form class="text-right" method="post" action="{% url 'sales_remove_from_cart' %}" data-ajax="true" data-ajax-url="{% url 'sales_remove_from_cart' %}" data-ajax-update="#basket-container" data-ajax-complete="basketChanged()">
							{% csrf_token %}
							<input name="product_id" type="hidden" value="{{ item.product_id }}" />
							<a href="#" onclick="javascript:$(this).closest('form').submit(); return false;" class="text-lightgrey" data-toggle="tooltip" data-delay='{"show":"1000"}' title="Remove this product."><i class="fas fa-trash"></i></a>
						</form>
					</div>
				</div>
			</li>
			{% if forloop.last %}
			<li class="list-group-item d-flex align-items-end bg-light">
				<h5 class="my-0 mr-2">Subtotal</h5>
				<strong class="text-danger">{{ cart.get_sub_total|currency:default_currency }}</strong>
				<a class="btn btn-primary ml-auto" href="{% url 'sales_checkout_cart' %}"><i class="fas fa-shopping-cart mr-2"></i>Checkout</a>
			</li>
			{% endif %}
			{% endwith %}
			{% empty %}
			<li class="list-group-item">
				<p class="text-info text-nowrap">You have no items in your shopping cart.</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endwith %}
