{% extends checkout_template_name %}

{% load thumbnail %}
{% load catalog_filters %}
{% load pipeline %}

{% block checkout-content %}
<div class="row mt-5">
	<div class="col-md-8">
		<h3 class="d-flex justify-content-between">
			Your cart
			<small class="badge badge-secondary badge-pill bg-lightgrey">{{ cart.get_items_count }}</small>
		</h3>
		{% if error %}
		<div class="text-danger">
			{{ error }}
		</div>
		{% endif %}
		<div class="cart">
			<ul class="list-group mb-3">
		    {% for item in cart.get_items %}
		    {% with product=item.product %}
		    <li class="list-group-item d-flex lh-condensed">
		      <div class="img-container rounded-circle overflow-hidden mr-3">
		        {% thumbnail product.pics.all.0.url "54x54" as im %}
		        <img class="border" src="{{ im.url }}" alt="{{ product.name }}" title="{{ product.name }}" />
		        {% endthumbnail %}
		        <div class="img-overlay d-block"></div>
		      </div>
		      <div>
		        <h6 class="my-0"><a class="text-dark" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
		        <small class="text-muted">{{ product.gist|truncatechars:50 }}</small>
		      </div>
		      <span class="ml-auto d-flex flex-column justify-content-between align-items-end show">
		        <span class="text-muted">{{ product.price|currency:default_currency }}</span>
		        <div class="d-flex align-items-center">
		          <form class="mr-4" method="post" action="{% url 'sales_checkout_cart' %}">
		            {% csrf_token %}
		            <input type="hidden" name="product_id" value="{{ product.id }}">
		            <input name="quantity" type="text" class="form-control w-75" size="1"  value="{{ item.quantity }}" onchange="javascript:$(this).closest('form').submit();"/>
		          </form>
		          <form method="post" action="{% url 'sales_remove_from_cart' %}">
		            {% csrf_token %}
		            <input name="product_id" type="hidden" value="{{ item.product_id }}"/>
		            <a class="text-lightgrey" href="#" onclick="javascript:$(this).closest('form').submit();" title="Remove this item from the cart"><i class="fa fa-trash"></i></a>
		          </form>
		        </div>
		      </span>
		    </li>
		    {% endwith %}
		    {% endfor %}
		    <li class="list-group-item d-flex justify-content-between bg-light">
		      <span>Subtotal</span>
		      <span class="text-success">{{ cart.get_sub_total|currency:default_currency }}</span>
		    </li>
		    <li class="list-group-item d-flex justify-content-between bg-light">
		      <span>Shipping cost</span>
		      <span>{{ cart.get_shipping_cost|currency:default_currency }}</span>
		    </li>
		    <li class="list-group-item d-flex justify-content-between bg-light">
		      <span>Tax</span>
		      <span>{{ cart.get_taxes|currency:default_currency }}</span>
		    </li>
		    <li class="list-group-item d-flex justify-content-between bg-light">
		      <span>Total ({{ default_currency.code }})</span>
		      <strong class="text-danger">{{ cart.get_total|currency:default_currency }}</strong>
		    </li>
		  </ul>
		</div>
		<button class="btn btn-secondary" onclick="showPaymentOptions();">Test dialog</button>
		<form method="post" {% if payment_method == 'Credit Card' %}data-ajax="true"{% endif %} action="{% url 'sales_checkout_order' %}" data-ajax-update="#payment-options-container" data-ajax-success="showPaymentOptions();">
			{% csrf_token %}
			<a title="Placed order" class="btn btn-danger float-right mt-3 text-white" onclick="javascript:$(this).closest('form').submit();">
				<i class="fas fa-check-square mr-2"></i>Place Order
			</a>
		</form>
	</div>
	<div class="col-md-4">
		<div class="card  mb-3">
			<h6 class="card-header text-muted">
				<i class="fas fa-credit-card mr-2"></i>
				Payment method
			</h6>
			<div class="card-body">
				<span>{{ payment_method }}</span>
				{% if po_number %}<b>#{{ po_number }}</b>{% endif %}
			</div>
		</div>
		{% with address=billing_address address_name="Billing address" address_icon="fa-home" %}
		{% include "sales/parts/address.html" %}
		{% endwith %}
		{% with address=shipping_address address_name="Shipping address" address_icon="fa-truck" %}
		{% include "sales/parts/address.html" %}
		{% endwith %}
	</div>
</div>
<div id="payment-options-container" class="modal fade" tabindex="-1" role="dialog">

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% javascript 'sales_checkout_order' %}
<script type="text/javascript">
	function showPaymentOptions() {
		$('#payment-options-container').modal({
			backdrop: 'static',
			keyboard: false
		});
	}
</script>
{% endblock %}
